/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 90%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
	.weeksel{
		display:inline-block;
		height:1.3em;
		width:6%;
		text-align:center;
	}
	.smallicon{
		height:25px;
		width:25px;
	}